In [3]:
import pandas as pd

In [4]:
Data_raw = [['Good', 'Low', 'Older', 'Steady', 'N'],
            ['Good', 'Low', 'Older', 'Unstable', 'N'],
            ['Great', 'Low', 'Older', 'Steady', 'Y'],
            ['Ah', 'Good', 'Older', 'Steady', 'Y'],
            ['Ah', 'Great', 'Younger', 'Steady', 'Y'],
            ['Ah', 'Great', 'Younger', 'Unstable', 'N'],
            ['Ah', 'Great', 'Younger', 'Unstable', 'N'],
            ['Great', 'Great', 'Younger', 'Unstable', 'Y'],
            ['Good', 'Good', 'Older', 'Steady', 'N'],
            ['Good', 'Great', 'Younger', 'Steady', 'Y'],
            ['Ah', 'Good', 'Younger', 'Steady', 'Y'],
            ['Good', 'Good', 'Younger', 'Unstable', 'Y'],
            ['Great', 'Good', 'Older', 'Steady', 'Y'],
            ['Great', 'Low', 'Younger', 'Steady', 'Y'],
            ['Ah', 'Good', 'Older', 'Unstable', 'N']]
columns = ['Appearance', 'Income', 'Age', 'Profession', 'Welcome']
Data = pd.DataFrame(Data_raw, columns = columns)

In [5]:
yes_count = len(Data[Data["Welcome"] == "Y"])

In [6]:
Data[Data["Appearance"] == "Great"]

   Appearance Income      Age Profession Welcome
2       Great    Low    Older     Steady       Y
7       Great  Great  Younger   Unstable       Y
12      Great   Good    Older     Steady       Y
13      Great    Low  Younger     Steady       Y

In [7]:
Data[Data["Appearance"] == "Good"]

   Appearance Income      Age Profession Welcome
0        Good    Low    Older     Steady       N
1        Good    Low    Older   Unstable       N
8        Good   Good    Older     Steady       N
9        Good  Great  Younger     Steady       Y
11       Good   Good  Younger   Unstable       Y

In [8]:
Data[Data["Appearance"] == "Ah"]

   Appearance Income      Age Profession Welcome
3          Ah   Good    Older     Steady       Y
4          Ah  Great  Younger     Steady       Y
5          Ah  Great  Younger   Unstable       N
6          Ah  Great  Younger   Unstable       N
10         Ah   Good  Younger     Steady       Y
14         Ah   Good    Older   Unstable       N